*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
}

.titolo{
    color: #e33470;
}

.card img{
    width: 50px;
}

.card h3{
    font-size: 10px;
    color: white;
}
.card h2{
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.card p{
    color: #4694a7;
}

.card{
    background-color: black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    row-gap: 10px;
    column-gap: 5px;
}

.date{
    display: flex;
    flex-direction: column;
    
}

/*.front-row{
    display: flex;
    justify-content: center;
}*/